# Environment
NODE_ENV=DEVELOPMENT

# API
FRONTEND_URL=http://localhost:5173
PORT=3000

# MongoDB
MONGO_USERNAME=mongo_user
MONGO_PASSWORD=mongo_pass
MONGO_URI=mongodb://mongo_user:mongo_pass@mongo:27017/lilify?authSource=admin

# Redis
REDIS_URL=redis://redis:6379

# Mongo Express Web UI (basic auth login)
ME_CONFIG_BASICAUTH_USERNAME=your_username
ME_CONFIG_BASICAUTH_PASSWORD=your_password

# Frontend
VITE_API_URL=http://localhost:3000
VITE_SHORTEN_URL_ENDPOINT=api/lilify/v1/
