# Environment
NODE_ENV=development
PORT=3000

# Frontend
FRONTEND_URL=http://localhost:5173

# MongoDB
MONGO_USERNAME=admin
MONGO_PASSWORD=secret
MONGO_URI=mongodb://admin:secret@mongo:27017/lilify?authSource=admin

# Redis
REDIS_URL=redis://redis:6379

# Development Tooling
# MongoDB Express
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret
