# Application Settings
NODE_ENV=development
PORT=3000

# MongoDB Root Credentials
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret

# Express Connection String (Points to 'mongo' service)
MONGO_URI=mongodb://admin:secret@mongo:27017/lilify?authSource=admin

# Application Secrets